input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

button:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
    float: left;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #2A3F54;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupbtn {
        width: 100%;
    }

    #alert {
        margin: 0 5% !important;
        font-size: 0.9em !important;
    }
}

@media screen and (max-width: 900px) {
    form {
        width: 75% !important;
    }

    #alert {
        margin: 0 5% !important;
        font-size: 1em !important;
    }

}

@media screen and (max-width: 600px) {
    form {
        width: 95% !important;
    }

}

h2 {
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F7F7F7;
}

form {
    border: 2px solid #ccc;
    width: 35%;
    background: white;
    margin: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    font-size: 1rem;
    line-height: 21px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    background-color: #00bfd6;
    border: 1px solid #41a7b4;
    color: white;
    border-radius: 8px;
    font-size: 1.4rem;
    line-height: 1.222;
    padding: 10px 20px;
    opacity: 0.9;
    margin: 15px 0;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;

}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

}

#logo {
    background: url("/static/img/database_64.png");
    width: 64px;
    height: 64px;
    display: inline-block;
}

#login_logo {
    background: url("/static/img/login.png");
    display: inline-block;
    width: 32px;
    height: 32px;
    float: right;
}

#alert {
    list-style: none;
    height: 45px;
    padding: 0;
    border-radius: 15px;
    font-size: 1.1em;
    overflow: hidden;
    margin: 0 28%;
    line-height: 45px;
    text-align: center;
}

.error {
    background-color: #e33800;
}

.success {
    background: limegreen;
}

.warning {
    background-color: #ff8d03;
}
